.todoContent {
  width: 736px;

  margin-top: 4rem;
}

.infoTaks {
  justify-content: space-between;
  align-items: center;
  display: flex;

  color: #4EA8DE;
}

.infoTaks .doneTasks, .createdTasks{
  display: flex;
  text-align: justify;
  justify-content: space-between;
  align-items: center;
}

.infoTaks .doneTasks {
  color: #8284FA;
}

.counterContent{
  border-radius: 999px;
  padding: 0.125rem 0.5rem;

  align-items: center;
  display: flex;

  height: 19px;
  font-size: 0.75rem;
  font-weight: 600;

  margin-left: 8px;
  color: var(--gray-200);
  background: var(--gray-400);

  flex: none;
  order: 1;
  flex-grow: 0;
}

.doneTask {
  text-decoration: line-through;
}
